*{
    all: unset; /*Fjerne all user agent stylesheet*/
    display: revert; /*Den aktiverer display funktionen i user agent stylesheet*/
    box-sizing: border-box; /*Bredde på et element er inklusiv padding og border*/
    font-family: "futura-pt",sans-serif;
    scroll-behavior: smooth;
}

/* utility classes */

.background-green{
    background-color: #50982250;
}
.background-white{
    background-color: #FBFCF9;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.main-whitespace{
    max-width: 1100px;
    margin: auto;
}

.main-whitespace-news{
    max-width: 1100px;
    margin: auto;
}

.main-whitespace-partners{
    max-width: 1100px;
    margin: auto;
}

.margin-auto{
    margin: auto;
}

.align-right{
    display: flex;
    justify-content: flex-end;
}

.text-center{
    text-align: center;
    margin: auto;
}

/* utility classes slut */


section{
    padding: 4rem 0;
}

/* fonts */

h1{
    font-size: 2.5rem;
    font-weight: 700;
    font-style: normal;
    max-width: 500px;
}

h2{
    font-weight: 500;
    font-style: normal;
    font-size: 1.875rem;
}

h3{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.highlight-text{
    font-weight: 500;
}

.hydroponi-link{
    color: #44821C;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
}

.hero-text{
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    max-width: 450px;
}

.paragraph-thick{
    font-size: 1.25rem;
    font-weight: 500;
}

.paragraph{
    font-size: 1.125rem;
    font-weight: 400;
    max-width: 646px;
    cursor: auto;
}

.paragraph-light{
    font-size: 1.125rem;
    font-weight: 300;
    cursor: auto;
}

.paragraph-mini{
    font-weight: 400;
    font-size: 12px;
}

/* fonts slut */

/* header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
    justify-content: space-between;
    align-content: space-between;
}

.header-logo{
    height: 45px;
    cursor: pointer;
}

ul{
    gap: 30px;
}

li{
    cursor: pointer;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    transition: 1s;
}

.nav-flex{
    display: flex;
    align-items: center;
}
.nav-menu{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    justify-content: space-between;
}

.header-position{
    display: flex;
    align-items: center;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:#0f0f0f;
}

.log-in-hamburger{
    display: none;
}

.navitem{
    text-decoration: none; 
    position: relative; 
}

.navitem:after{
    position: absolute;
    content: '';
    height: 3px;
    width: 0%;
    bottom: -2px;
    background-color: #509822;
    right: -0px;
    transition: 1s;
    
}

.navitem:hover:after{
    width: 100%;
    left: 0%;
}

.nav-constant{
    text-decoration: none; 
    position: relative; 
}

.nav-constant:after{
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    bottom: -2px;
    background-color: #509822;
    right: -0px;
}

.navitem-mobile{
    display: none;
}

.b2b{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto ;
    margin-top: 20px;
    margin-bottom: -20px;
    align-items: center;
}

.search{
    min-width: 50px;
    max-width: 100px;
    height: 28px;
    border: 2px solid #50982240;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-mobile{
    display: none;
}

.search-icon{
    height: 25px;
}

.search-input{
    height: 90%;
    width: 100%;
    z-index: 999;
    font-size: 12px;
    padding: 8px;
}

.kontakt{
    text-align: center;
    padding: 0.1rem 1rem;
    border: 2px solid #509822;
    border-radius: 10px 0 10px 0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.fa-magnifying-glass{
    margin-right: 5px;
}

/* header slut */

.frontpage-test-image{
    height: 440px;
    z-index: 900;
    align-self: center;
    justify-self: center;
}


.frontpage-test-image, .blob{
    grid-row: 1 / 4;
    
}

.video-blob{
    display: flex;
    align-items: center;
}

.frontpage-video{
    height: 410px;
    border-radius: 30%;
}

.video-blob-mobile{
    height: 450px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
    align-self: center;
    justify-self: center;
    display: none;
}

.flex-hero{
    justify-content: space-between;
    align-items: center;
}

.frontpage-text{
    margin-bottom: 50px;
}

.frontpage-line{
    height: 4px;
    width: 415px;
    background-color: #509822;
    margin-bottom: 0.8rem;
    margin-top: 0.2rem;
}

.title-line{
    height: 5px;
    width: 400px;
    background-color: #509822;
    margin-bottom: 26px;
    margin: auto;
    margin: 4px auto 30px auto;
}

.title-line.hydroponi{
    margin-bottom: 0.5rem;
}

.paragraph-light.hydroponi{
    margin-bottom: 1rem;
}


.call-to-action{
    background-color: #509822;
    padding: 0.6rem 0.8rem;
    width: fit-content;
    border-radius: 0 20px 0 20px;
    color: #FBFCF9;
    font-size: 1.25rem;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 2rem;
}

.call-to-action:hover,.call-to-action-2:hover{
    background-color: #44821C;
}

.call-to-action-2{
    background-color: #509822;
    padding: 0.6rem 0.8rem;
    width: fit-content;
    height: fit-content;
    border-radius: 20px 0 20px 0;
    color: #FBFCF9;
    font-size: 1.25rem;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.frontpage-buttons{
    display: flex;
    gap: 10px;
}

.hydroponi-box{
    height: 200px;
    width: 200px;
    background-color: #FBFCF9;
    filter: drop-shadow(0px 3px 3px #00000036);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.25rem;
    font-weight: 500;
    opacity: 100%;
    cursor: pointer;
    transition: 0.2s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.hydroponi-illustration{
    height: 75px;
}


@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px); 
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.hydroponi-box:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.hydroponi-icon{
    margin-bottom: 16%;
}

.hydroponi-text{
    margin-bottom: 6%;
}

#info-box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
    background-color: #FBFCF9;
    filter: drop-shadow(0px 3px 3px #00000036);
    width: 632px;
    height: 0px;
    border-radius: 10px;
    transition: 1s ease-out;
    padding: 0rem;
}

#info-box-1{
    align-items: center;
    justify-content: center;
    transition: 2s;
    opacity: 0;
    position: absolute;
}

.frontpage-hydroponi{
    justify-content: space-between;
    margin-top: 2rem;
}

#more{
    display: none;
}

.flex-fordele{
    align-items: center;
    justify-content: space-between;
}

.benefit-single{
    list-style: none;
    cursor: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: 500;
    font-size: 1.25rem;
}
.benefits{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.flex-statement{
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

.statement-text{
    display: flex;
    flex-direction:column;
    font-size: 1.875rem;
    font-weight: 500;
    max-width: 440px;
    text-align: right;
}

.statement-text2{
    display: flex;
    flex-direction:column;
    font-size: 1.875rem;
    font-weight: 500;
    max-width: 480px;
    text-align: left;
}

.text-right{
    text-align: right;
}

.statement-line{
    height: 5px;
    width: 220px;
    background-color: #509822;
    margin-bottom: 26px;
    max-width: 287px;
    margin-left: auto;
    margin-right: 10px;
}

.underline{
    text-decoration: none; 
    position: relative; 
}

.underline:after{
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    bottom: 2px;
    background-color: #509822;
    right: -0px;
}

.statement-personal-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.statement-personal-info-single{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 400;
}

.flex-test{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-card{
    border-radius:10px ;
    height: 254px;
    width: 350px;
    background-color: #FCFCFC;
    filter: drop-shadow(0px 3px 3px #00000036);
    padding: 1rem;
}

.news-title{
    font-weight: 500;
    font-size: 1.5rem;
}

.news-date{
    font-weight: 400;
    font-size: 1rem;
}

.news-text{
    font-weight: 300;
    font-size: 1.2rem;
    max-height: 122px;
    overflow:visible;
}

.news-bottom-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-bottom-row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
}

.news-flex{
    justify-content: space-between;
}

.news-read-more{
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.news-read-more:hover{
    text-decoration: underline;
}

.flex-news-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
}

.flex-news-card-big{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 390px;
}

.flex-partners{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.partner-card{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    cursor: pointer;
    height: 140px;
    align-items: center;
    width: 350px;
    margin-bottom: 4rem;
}

.partner-image{
    height: 40%;
    margin-bottom: 1rem;
}

.partner-name{
    font-weight: 500;
    text-align: center;
}

.partner-text{
    font-weight: 400;
    text-align: center;
    max-width: 300px;
}

.footer-icons{
    gap: 1rem;
}

.footer-icon{
    height: 24px;
    border-radius: 2px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    max-width: 904px;
    margin: auto;
    padding: 2rem 0 1rem 0;
}

.footer-row2{
    display: flex;
    justify-content: space-between;
    max-width: 904px;
    margin: auto;
    padding: 2rem 0 1rem 0;
    align-items: center;
}

footer{
    list-style: none;
}

.footer-h2-text{
    font-size: 1.25rem;
    font-weight: 500;
    cursor: auto;
}

.eur-flex{
    gap: 0.5rem;
    align-items: center;
}

.copyright{
    padding: 2rem 0;
}

.linked-in-icon{
    height: 13.7px;
}

.message-icon{
    height: 13.8px;
}

.quote-icon{
    height: 24px;
}

.hide-all{
    display: none;
}

/* transition */
.hidden{
    opacity: 0;
    transition: all 2s;
    width: 0;
}

.show-animation{
    opacity: 1;
    width: 300px;
}

.skillset:nth-child(2){
    transition-delay: 200ms;
}
.skillset:nth-child(3){
    transition-delay: 400ms;
}
.skillset:nth-child(4){
    transition-delay: 600ms;
}

.filterDiv{
    display: none;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    transition: 1s;
}

.filterDiv.paragraph{
    line-height: 160%;
}

.show {
    display: block;
}

.hydroponi-box.active{
    opacity: 20%;
}

.teknologi-video-placeholder{
    height: 600px;
    width: 100%;
    margin: 1.5rem auto auto auto;
  
}

.tech-video{
    width: 100%;
}

.video{
    height: 100%;
    width: 100%;
}

.teknologi-info-section.paragraph{
    max-width: 535px;
}

.info-section-flex{
    gap: 2rem;
    display: flex;
    justify-content: space-between;
}

.software-list-flex{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.teknologi-info-flex{
    justify-content: space-between;
    align-items: center;
}

.teknologi-info-flex2{
    justify-content: space-between;
    align-items: center;
}

.info-section-flex2{
    gap: 2rem;
    align-items: flex-end;
}

.three-points-box{
    height: 330px;
    width: 234px;
    background-color: #FBFCF9;
    filter: drop-shadow(0px 3px 3px #00000036);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 2rem;
    padding: 2rem;
}

.three-points-whitespace{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.teknologi-kontakt{
    text-align: center;
    max-width: 642px;
    margin: auto;
}

.tek-kontakt-span{
    font-weight: 400;
}

.who-are-we{
    gap: 1rem;
}

.who-are-we-flex{
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.who-are-we-title{
    max-width: 250px;
    text-align: right;
}

.who-are-we-title2{
    max-width: 250px;
}

.who-are-we-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    filter: drop-shadow(0px 3px 3px #00000036);
    cursor: pointer;
}

.linkedin{
    justify-content: flex-end;
    gap: 1.25rem;
}
.linkedin2{
    gap: 1.25rem;
}

.hydrovertic-section{
    justify-content: space-between;
    align-items: center;
}

.hydrovertic-text-section{
    gap: 1rem;
    max-width: 544px;
}

.journey-card{
    filter: drop-shadow(0px 3px 3px #00000036);
    background-color: #FBFCF9;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 136px;
    width: 200px;
    padding: 0.5rem;
}

.middle-journey-card{
    filter: drop-shadow(0px 3px 3px #00000036);
    background-color: #FBFCF9;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #509822;
    height: 244px;
    width: 296px;
}

.green-pill{
    color: #FBFCF9;
    background-color: #509822;
    border-radius: 16px;
    padding: 4px 11px;
    margin-bottom: 0.5rem;
}

.journey-card-section{
    justify-content: space-between;
    align-items: center;
}

.goals-card{
    width: 500px;
    height: 339px;
    background-color: #FBFCF9;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 3px #00000036);
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
}

.goals{
    justify-content: space-between;
}

.flex-goals{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.fn-goal-flex{
    gap: 1.5rem;
    display: flex;
}

.faq-flex{
    gap: 1.5rem;
}


.testings{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* lines */

#who-are-we-line{
    margin: 4px 0 30px 0; 
    width: 193px;

}

#tech-line{
    margin: 4px 0 30px 0;
    width: 220px;
}

#faq-line{
    margin: 4px 0 30px 0; 
    width: 78px;
}

#omtale-line{
    margin: 4px 0 30px 0; 
    width: 130px;
}

.quote{
    transform: rotateY(180deg);
}

#hydroponi{
    width: 316px;
}

.news-line{
    width: 186px;
}

#three-points-line{
    width: 404px;
}

#journey-line{
    width: 210px;
}

#contact-line{
    width: 204px;
}

#review-line{
    width: 382px;
}

/* line end */

.paragraph-thick.contact-text{
    max-width: 550px;
}

.contact-flex{
    justify-content: space-between;
}

.contact-info-flex{
    gap: 1rem;
}

.contact{
    gap: 3rem;
}

.individual-contact{
    align-items: center;
    gap: 0.5rem;
}

.contact-thick{
    font-size: 24px;
}

.email-input{
    width: 444px;
    height: 44px;
    filter: drop-shadow(0px 3px 3px #00000036);
    box-shadow: 0px 2px 4px #00000036;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
}

.message-input{
    width: 444px;
    height: 220px;
    filter: drop-shadow(0px 3px 3px #00000036);
    box-shadow: 0px 2px 4px #00000036;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#send{
    border-radius: 5px;
    padding: 0.4rem 1rem;
    margin: auto;
}

.statement-image-jacob{
    border-radius: 50%;
}

.round-picture{
    border-radius: 50%;
}

.review-card{
    height: 255px;
    width: 353px;
    background-color: #FBFCF9;
    filter: drop-shadow(0px 3px 3px #00000036);
    border-radius: 10px;
    padding: 1rem;
}

.review-card-flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.review-text{
    margin-top: 22px;
}

#review-text2{
    margin-top: 30px;
}

#review-text3{
    margin-top: 34px;
}

.reviews{
    justify-content: space-between;
}

.review-card-person{
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 1.5rem;
}

.news-card-big{
    border-radius:10px ;
    height: 414px;
    max-width: 351px;
    background-color: #FCFCFC;
    filter: drop-shadow(0px 3px 3px #00000036);
    padding: 1rem;
}

.news-image{
    width: 95%;
    margin-bottom: 4px;
}

.news-big-flex{
    justify-content: space-between;
}

.header-logo-mobile{
    display: none;
    cursor: pointer;
}

.mobile-who-are-we-picture{
    display: none;
}

.slideshow{
    width: auto;
    height: 500px;
}

.tech-image-2-mobile{
    display: none;
}

.tech-image-2{
    height: 500px;
}

.tech-image-1{
    height: 500px;
}

#tech-cta{
    display: flex;
    align-content: center;
    text-align: center;
}

.footer-logo{
    height: 57px;
}

.gallery-1, .gallery-2,{
    display: none
}
img {
    vertical-align: middle;
}

/* Gallery container start*/
.gallery-container {
  max-width: 1000px;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
/* Gallery container end*/

@media screen and (max-width: 900px){


.body,html{
    width: 100%;
}

h1{
    font-size: 2.188rem;
}

h2{
    font-size: 1.563rem;
}

header{
    display: flex;
}

.hide{
    display: none;
}

.mobile-header-flex{
    display: flex;
    gap: 1rem;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
}

.b2b{
    all: unset;
}

.header-logo-mobile{
    display: flex;
    height: 44px;
}

.hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    all: unset;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    width: 100%;
    height: 90vh;
    text-align: center;
    background-color: #FBFCF9;
    z-index: 999;
    padding-top: 4rem;
    transition: 0.5s;
}

.nav-mobile{
    flex-direction: column;
}

.navitem{
    font-size: 30px;
}

.navitem-mobile{
    display: block;
}

.navitem::after{
    display: none;
}

.nav-menu.active{
    left: 0;
}

.hamburger{
    display: block;
}

.kontakt{
    display: none;
}

.language{
    display: none;
}

.search{
    max-width: 25px;
    border: 0;
    display: none;
}

.search-mobile{
    display: block;
}

.header-logo{
    display: none;
}

.flex-hero{
    flex-direction: column;
    text-align: center;
}
.frontpage-line{
    width: 285px;
    margin: auto;
    order: -9;
    margin-bottom: 1rem;
}

.frontpage-buttons{
    margin: auto;
    order: -5;
}

.hero-text-box{
    order: -6;
    margin: 0.5rem auto auto auto;
}

.hero-text{
    font-weight: 400;
    max-width: 280px;
}

.hero-h1{
    order: -10;
}

h1{
    text-align: center;
    max-width: 300px;
    text-align: center;
    margin: auto
}

.video-blob{
    display: none;
}

.video-blob-mobile{
    display: grid;
    order: -7;
    height: 320px;
}

.frontpage-test-image{
    height: 320px;
    z-index: 900;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
}

.blob{
    height: 280px;
}

.flex-fordele{
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.vertical-system{
    height: 314px;
}

.benefits{
    align-items: center;
    max-width: 320px;
}

.flex-statement{
    flex-direction: column;
    text-align: center;
}

.statement-text{
    text-align: center;
    max-width: 400px;
    padding: 1rem;
}

.statement-line{
    margin: auto;
    width: 222px;
    margin-top: 4px;
}

.statement-image{
    order: -1;
}

.statement-image-jacob{
    order: -1;
}

.frontpage-hydroponi{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#info-box{
    width: 300px;
}

.statement-personal-info{
    text-align: center;
}

.statement-text2{
    text-align: center;
}

.personal-order{
    order: 4;
}


.main-whitespace{
    width: 321px;
}

.news-card{
    all: unset;
    width: 400px;
    height: 235px;
    margin-right: 2rem;
    background-color: #FCFCFC;
    filter: drop-shadow(0px 3px 3px #00000036);
    padding: 1rem;
    border-radius: 10px;
}

.footer-row{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.footer-row2{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.flex-partners{
    overflow: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    max-width: 2000px;
}

.footer-icons{
    justify-content: center;
}

.teknologi-video-placeholder{
    height: 248px;
    width: 321px;
    order: -1;
}

.h1-tech{
    order: -3;
}

.paragraph{
    max-width: 321px;
    margin: auto;
}

.tech-hero-text{
    margin-top: 1rem;
}

.teknologi-info-flex{
    flex-direction: column;
    max-width: 321px;
}

.tech-image-1{
    height: 246px;
    margin-top: 1rem;
}

.teknologi-info-flex2{
    flex-direction: column;
    max-width: 321px;
}

.three-points-whitespace{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.three-points-box{
    width: 312px;
    height: 318px;
    padding: 1rem;
}

.teknologi-kontakt{
    max-width: 321px;
}

.tek-kontakt-span{
    font-size: 1.25rem;
}

.info-section-flex2{
    order: -1;
}

.mobile-who-are-we-picture{
    display: block;
    height: 200px;
    margin: 2rem auto 2rem auto;
}

.who-are-we-picture{
    display: none;
}

.who-are-we-flex{
    max-width: 321px;
}

.slideshow{
    width: 100%;
    height: 100%;
}

.waw-p{
    font-size: 1rem;
}

.waw-pt{
    font-size: 1rem;
}

.waw-pl{
    display: none;
}

.waw-name{
    display: none;
}

.hydrovertic-section{
    flex-direction: column;
    gap: 2rem;
}

.hydrovertic-section-picture{
    max-width: 321px;
}

.journey-card-section{
    flex-direction: column;
    gap: 2rem;
}

.arrow{
    transform: rotate(90deg);
}

.goals{
    flex-direction: column;
    gap: 3rem;
}

.goals-card{
    flex-direction: column;
    height: 500px;
    width: 246px;
}

.fn-goal{
    height: 138px;
    width: 138px;
    margin: auto;
}

.fn-goal-flex{
    flex-direction: column;
    height: 296px;
}

.read-more-waw{
    margin-top: 1rem;
}

.contact-flex{
    flex-direction: column;
    max-width: 321px;
    gap: 2rem;
}

.email-input{
    width: 321px;
}

.message-input{
    width: 321px;
}

.faq-flex{
    width: 321px;
}

.omtale-h2{
    margin-bottom: 1rem;
}

.reviews{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.reviews-button{
    justify-content: center;
}

.news-big-flex{
    max-height: 440px;
    overflow: scroll;
    gap: 1rem;
    overflow-y: hidden;
    width: 100%;
}



.flex-news-card{
    width: 351px;
    height: 440px;
}

.news-bottom-row{
    width: 320px;
    padding-top: 45px;
}

.first-section-mobile{
    padding: 1rem;
}

.tech-image-2-mobile{
    display: block;
    height: 358px;
}

.tech-image-2{
    height: 410px;
    margin: 1rem 0;
}

.gallery-container{
    width: 321px;
}



/* lines */

#tech-line{
    order: -2;
    margin: auto;
    width: 196px;
}

#who-are-we-line{
    margin: auto;
    width: 216px;
}

#faq-line{
    margin: auto;
    width: 140px;
    margin-bottom: 2rem;
}

#omtale-line{
    margin: auto;
    width: 200px;
    margin-bottom: 2rem;
}

.title-line{
    width: 250px;
}

.fordele-line{
    width: 290px;
}

#three-points-line{
    width: 300px;
}

/* lines end */


.news-flex{
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 90vh;
    margin: auto;
}

.frontpage-video{
    height: 300px;
}

}

#goaway{
    display: flex;
}

